In [75]:
import openai
import os

In [99]:
openai.api_key = os.getenv('OPENAI_API_KEY')

In [77]:
# !pip install pandas

In [78]:
import pandas as pd

In [79]:
df = pd.read_csv('./data/sales_data_sample.csv')

In [80]:
df.head()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,SALES,ORDERDATE,QTR_ID,MONTH_ID,YEAR_ID,PRODUCTLINE,PHONE,ADDRESSLINE1,CITY,STATE,POSTALCODE,COUNTRY,CONTACTLASTNAME,CONTACTFIRSTNAME
0,10107,30,95.70,2871.00,2/24/2003 0:00,1,2,2003,Motorcycles,2125557818,897 Long Airport Avenue,NYC,NY,10022,USA,Yu,Kwai
1,10121,34,81.35,2765.90,5/7/2003 0:00,2,5,2003,Motorcycles,26.47.1555,59 rue de l'Abbaye,Reims,NaN,51100,France,Henriot,Paul
2,10134,41,94.74,3884.34,7/1/2003 0:00,3,7,2003,Motorcycles,+33 1 46 62 7555,27 rue du Colonel Pierre Avia,Paris,NaN,75508,France,Da Cunha,Daniel
3,10145,45,83.26,3746.70,8/25/2003 0:00,3,8,2003,Motorcycles,6265557265,78934 Hillside Dr.,Pasadena,CA,90003,USA,Young,Julie
4,10159,49,100.00,5205.27,10/10/2003 0:00,4,10,2003,Motorcycles,6505551386,7734 Strong St.,San Francisco,CA,NaN,USA,Brown,Julie

In [81]:
df.groupby('QTR_ID').sum()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,SALES,ORDERDATE,MONTH_ID,YEAR_ID,PRODUCTLINE,PHONE,ADDRESSLINE1,CITY,STATE,POSTALCODE,COUNTRY,CONTACTLASTNAME,CONTACTFIRSTNAME
QTR_ID,,,,,,,,,,,,,,,,
1,6829804,23485,55446.88,2350817.73,2/24/2003 0:001/15/2004 0:002/20/2004 0:002/3/...,1313,1332832,MotorcyclesMotorcyclesMotorcyclesMotorcyclesMo...,2125557818(1) 47.55.655503 9520 455540.67.8555...,"897 Long Airport Avenue25, rue Lauriston636 St...",NYCParisMelbourneNantesNew BedfordStavernLuleB...,NYVictoriaMACAMAMACANSWNYOsakaVictoriaQueensla...,1002275016300444000505534110S-958 229401951247...,USAFranceAustraliaFranceUSANorwaySwedenUSAUSAU...,YuPerrierFergusonLabruneBenitezBergulfsenBergl...,KwaiDominiquePeterJanineVioletaJonasChristinaS...
2,5758370,20316,46774.20,2048120.30,5/7/2003 0:004/5/2004 0:005/18/2004 0:006/28/2...,2758,1124258,MotorcyclesMotorcyclesMotorcyclesMotorcyclesMo...,26.47.1555212555150020155593502035552570(171) ...,59 rue de l'Abbaye2678 Kingston Rd.7476 Moss R...,ReimsNYCNewarkBridgewaterLiverpoolMadridMadrid...,NYNJCTCTTokyoQuebecVictoriaPANJCTVictoriaNYNJC...,51100100229401997562WX1 6LT280342802397823106-...,FranceUSAUSAUSAUKSpainSpainUSAJapanCanadaSpain...,HenriotFrickBrownKingDevonFreyreSommerMurphySh...,PaulMichaelWilliamJulieElizabethDiegoMart¡nLes...
3,5146508,17118,42357.76,1758910.81,7/1/2003 0:008/25/2003 0:007/23/2004 0:008/27/...,4054,1007828,MotorcyclesMotorcyclesMotorcyclesMotorcyclesMo...,+33 1 46 62 7555626555726540.67.85556175558555...,27 rue du Colonel Pierre Avia78934 Hillside Dr...,ParisPasadenaNantesCambridgeHelsinkiBurlingame...,CAMACANSWCAMACAMAMABCMACANSWPACAMAMACAPACACANS...,75508900034400051247212409421779903206710100S-...,FranceUSAFranceUSAFinlandUSASingaporeAustralia...,Da CunhaYoungLabruneHernandezKarttunenHiranoNa...,DanielJulieJanineMartaMattiJuriEricAdrianPaolo...
4,11225699,38148,91589.23,3874780.01,10/10/2003 0:0010/28/2003 0:0011/11/2003 0:001...,11897,2191852,MotorcyclesMotorcyclesMotorcyclesMotorcyclesMo...,6505551386650555680920.16.1555+47 2267 3215650...,"7734 Strong St.9408 Furth Circle184, chausse d...",San FranciscoBurlingameLilleBergenSan Francisc...,CACACAPANYNSWNYQueenslandPABCCANHCAVictoriaCAC...,9421759000N 5804411070267100225020206710022410...,USAUSAFranceNorwayUSANorwayUSAUSAAustriaAustra...,BrownHiranoRanceOeztanMurphyBergulfsenYuYuPipp...,JulieJuriMartineVeyselJulieJonasKyungKwaiGeorg...

In [113]:
df.groupby('POSTALCODE').sum()['SALES']

POSTALCODE
10022       560787.77
10100        94117.26
106-0032    120562.74
1203        117713.56
1227 MM      94015.73
              ...
T2F 8M4      74634.85
V3F 2K1      75238.92
WA1 1DP      36019.04
WX1 6LT     118008.27
WX3 6FW      88804.50
Name: SALES, Length: 73, dtype: float64

In [83]:
# Sum of Sales by Quarter ?

***

In [84]:
# !pip install sqlalchemy

In [85]:
import sqlalchemy

In [86]:
from sqlalchemy import create_engine
from sqlalchemy import text

In [87]:
# TEMP DB in RAM

# PUSH Pandas df --> TEMP DB

# SQL query on TEMP DB

In [88]:
temp_db = create_engine('sqlite:///:memory:', echo=True)

In [89]:
data = df.to_sql(name='Sales', con = temp_db)

2023-04-29 20:23:53,565 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-04-29 20:23:53,602 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Sales")
2023-04-29 20:23:53,605 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-04-29 20:23:53,613 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("Sales")
2023-04-29 20:23:53,614 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-04-29 20:23:53,623 INFO sqlalchemy.engine.Engine
CREATE TABLE "Sales" (
	"index" BIGINT,
	"ORDERNUMBER" BIGINT,
	"QUANTITYORDERED" BIGINT,
	"PRICEEACH" FLOAT,
	"SALES" FLOAT,
	"ORDERDATE" TEXT,
	"QTR_ID" BIGINT,
	"MONTH_ID" BIGINT,
	"YEAR_ID" BIGINT,
	"PRODUCTLINE" TEXT,
	"PHONE" TEXT,
	"ADDRESSLINE1" TEXT,
	"CITY" TEXT,
	"STATE" TEXT,
	"POSTALCODE" TEXT,
	"COUNTRY" TEXT,
	"CONTACTLASTNAME" TEXT,
	"CONTACTFIRSTNAME" TEXT
)


2023-04-29 20:23:53,624 INFO sqlalchemy.engine.Engine [no key 0.00147s] ()
2023-04-29 20:23:53,630 INFO sqlalchemy.engine.Engine CREATE INDEX "ix_Sales_index" ON "Sales" ("index")
2023-04-29 20:23:53,632 INFO sqlalchemy.engine.Engine [no key 0.00190s] ()
2023-04-29 20:23:53,758 INFO sqlalchemy.engine.Engine INSERT INTO "Sales" ("index", "ORDERNUMBER", "QUANTITYORDERED", "PRICEEACH", "SALES", "ORDERDATE", "QTR_ID", "MONTH_ID", "YEAR_ID", "PRODUCTLINE", "PHONE", "ADDRESSLINE1", "CITY", "STATE", "POSTALCODE", "COUNTRY", "CONTACTLASTNAME", "CONTACTFIRSTNAME") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2023-04-29 20:23:53,760 INFO sqlalchemy.engine.Engine [generated in 0.08222s] [(0, 10107, 30, 95.7, 2871.0, '2/24/2003 0:00', 1, 2, 2003, 'Motorcycles', '2125557818', '897 Long Airport Avenue', 'NYC', 'NY', '10022', 'USA', 'Yu', 'Kwai'), (1, 10121, 34, 81.35, 2765.9, '5/7/2003 0:00', 2, 5, 2003, 'Motorcycles', '26.47.1555', "59 rue de l'Abbaye", 'Reims', None, '51100', 'France', 'Henriot', 'Paul'), (2, 10134, 41, 94.74, 3884.34, '7/1/2003 0:00', 3, 7, 2003, 'Motorcycles', '+33 1 46 62 7555', '27 rue du Colonel Pierre Avia', 'Paris', None, '75508', 'France', 'Da Cunha', 'Daniel'), (3, 10145, 45, 83.26, 3746.7, '8/25/2003 0:00', 3, 8, 2003, 'Motorcycles', '6265557265', '78934 Hillside Dr.', 'Pasadena', 'CA', '90003', 'USA', 'Young', 'Julie'), (4, 10159, 49, 100.0, 5205.27, '10/10/2003 0:00', 4, 10, 2003, 'Motorcycles', '6505551386', '7734 Strong St.', 'San Francisco', 'CA', None, 'USA', 'Brown', 'Julie'), (5, 10168, 36, 96.66, 3479.76, '10/28/2003 0:00', 4, 10, 2003, 'Motorcycles', '6505556809', '9408 Furth Circle', 'Burlingame', 'CA', '94217', 'USA', 'Hirano', 'Juri'), (6, 10180, 29, 86.13, 2497.77, '11/11/2003 0:00', 4, 11, 2003, 'Motorcycles', '20.16.1555', '184, chausse de Tournai', 'Lille', None, '59000', 'France', 'Rance', 'Martine'), (7, 10188, 48, 100.0, 5512.32, '11/18/2003 0:00', 4, 11, 2003, 'Motorcycles', '+47 2267 3215', 'Drammen 121, PR 744 Sentrum', 'Bergen', None, 'N 5804', 'Norway', 'Oeztan', 'Veysel')  ... displaying 10 of 2823 total bound parameter sets ...  (2821, 10397, 34, 62.24, 2116.16, '3/28/2005 0:00', 1, 3, 2005, 'Ships', '61.77.6555', '1 rue Alsace-Lorraine', 'Toulouse', None, '31000', 'France', 'Roulet', 'Annette'), (2822, 10414, 47, 65.52, 3079.44, '5/6/2005 0:00', 2, 5, 2005, 'Ships', '6175559555', '8616 Spinnaker Dr.', 'Boston', 'MA', '51003', 'USA', 'Yoshido', 'Juri')]
2023-04-29 20:23:53,801 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2023-04-29 20:23:53,802 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-04-29 20:23:53,808 INFO sqlalchemy.engine.Engine COMMIT

In [90]:
with temp_db.connect() as conn:
    
    result = conn.execute(text('SELECT SUM(SALES) FROM Sales'))

2023-04-29 20:24:04,400 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-04-29 20:24:04,402 INFO sqlalchemy.engine.Engine SELECT SUM(SALES) FROM Sales
2023-04-29 20:24:04,403 INFO sqlalchemy.engine.Engine [generated in 0.00315s] ()
2023-04-29 20:24:04,408 INFO sqlalchemy.engine.Engine ROLLBACK

In [91]:
result.fetchall()

[(10032628.85000001,)]

***

In [92]:
def create_table_definition(df):
    
    prompt = f"""### sqlite SQL table, with it properties
    #
    #Sales({','.join(str(col) for col in df.columns)})
    #
    """
    return prompt

In [93]:
print(create_table_definition(df))

### sqlite SQL table, with it properties
    #
    #Sales(ORDERNUMBER,QUANTITYORDERED,PRICEEACH,SALES,ORDERDATE,QTR_ID,MONTH_ID,YEAR_ID,PRODUCTLINE,PHONE,ADDRESSLINE1,CITY,STATE,POSTALCODE,COUNTRY,CONTACTLASTNAME,CONTACTFIRSTNAME)
    #

In [94]:
def prompt_input():
    nlp_text = input("Enter the info you want ? : ")
    return nlp_text

In [95]:
def combine_promt(df,query_promt):
    definition = create_table_definition(df)
    query_init_string = f"### A query to answer : {query_promt}\nSELECT"
    
    return definition + query_init_string

In [96]:
prompt = combine_promt(df,prompt_input())

Enter the info you want ? : Get the sum of all the quaters

In [97]:
print(prompt)

### sqlite SQL table, with it properties
    #
    #Sales(ORDERNUMBER,QUANTITYORDERED,PRICEEACH,SALES,ORDERDATE,QTR_ID,MONTH_ID,YEAR_ID,PRODUCTLINE,PHONE,ADDRESSLINE1,CITY,STATE,POSTALCODE,COUNTRY,CONTACTLASTNAME,CONTACTFIRSTNAME)
    #
    ### A query to answer : Get the sum of all the quaters
SELECT

In [102]:
reponse = openai.Completion.create(model = 'text-davinci-003',
                                   prompt = combine_promt(df,prompt_input()),
                                   temperature = 0,
                                   max_tokens = 150,
                                   frequency_penalty = 0,
                                   presence_penalty = 0,
                                   stop = ['#',';'])

Enter the info you want ? : Sum of SALES per POSTALCODE

In [104]:
reponse['choices'][0]['text']

' POSTALCODE, SUM(SALES)\nFROM Sales\nGROUP BY POSTALCODE'

In [105]:
print(reponse['choices'][0]['text'])

 POSTALCODE, SUM(SALES)
FROM Sales
GROUP BY POSTALCODE

In [106]:
def handle_reponse(response):
    query = reponse['choices'][0]['text']
    if query.startswith(" "):
        query = "SELECT"+query
    return query

In [112]:
print(handle_reponse(reponse))

SELECT POSTALCODE, SUM(SALES)
FROM Sales
GROUP BY POSTALCODE

In [110]:
with temp_db.connect() as conn:
    result = conn.execute(text(handle_reponse(reponse)))

2023-04-29 20:34:51,944 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-04-29 20:34:51,945 INFO sqlalchemy.engine.Engine SELECT POSTALCODE, SUM(SALES)
FROM Sales
GROUP BY POSTALCODE
2023-04-29 20:34:51,946 INFO sqlalchemy.engine.Engine [generated in 0.00387s] ()
2023-04-29 20:34:51,956 INFO sqlalchemy.engine.Engine ROLLBACK

In [111]:
result.fetchall()

[(None, 272407.14),
 ('10022', 560787.7699999998),
 ('10100', 94117.26000000002),
 ('106-0032', 120562.73999999996),
 ('1203', 117713.55999999998),
 ('1227 MM', 94015.73),
 ('13008', 74936.14),
 ('1734', 145041.6),
 ('2', 57756.43),
 ('2060', 153996.13000000003),
 ('2067', 151570.98000000004),
 ('21240', 111250.37999999996),
 ('24067', 85555.98999999998),
 ('24100', 137955.72000000003),
 ('28023', 170257.33000000005),
 ('28034', 912294.1100000002),
 ('3004', 200995.40999999997),
 ('31000', 70488.44),
 ('3150', 64591.46000000001),
 ('4101', 59469.11999999999),
 ('4110', 116599.19),
 ('41101', 54723.62),
 ('42100', 142601.33000000002),
 ('44000', 204304.86),
 ('5020', 149798.63),
 ('50553', 207874.86),
 ('50739', 100306.58),
 ('51003', 154069.65999999997),
 ('51100', 135042.94),
 ('51247', 139243.99999999994),
 ('530-0003', 67605.07),
 ('58339', 165255.20000000004),
 ('59000', 69052.41),
 ('60528', 85171.58999999998),
 ('62005', 131685.30000000002),
 ('67000', 80438.48),
 ('69004', 142874.25000000003),
 ('69045', 115498.73000000001),
 ('70267', 122138.14000000001),
 ('71270', 151189.12999999998),
 ('75012', 97203.68000000001),
 ('75016', 93170.65999999999),
 ('75508', 78570.34000000001),
 ('78000', 64834.32000000001),
 ('79903', 172989.68000000008),
 ('8010', 52263.899999999994),
 ('8022', 78411.86000000002),
 ('80686', 34993.92),
 ('8200', 100595.54999999999),
 ('83030', 82751.08000000002),
 ('90003', 104561.95999999998),
 ('90110', 104370.38),
 ('91217', 87489.22999999998),
 ('92561', 9129.349999999999),
 ('94019', 129312.82999999999),
 ('94217', 331011.8500000001),
 ('97561', 57294.420000000006),
 ('97562', 756752.8500000003),
 ('97823', 79472.07),
 ('B-1180', 74972.52),
 ('B-6000', 33440.1),
 ('EC2 5NT', 157807.80999999997),
 ('FIN-02271', 113961.14999999997),
 ('H1J 1C3', 74204.79),
 ('N 0106', 79224.23),
 ('N 5804', 111640.28),
 ('PO31 7PJ', 78240.83999999998),
 ('S-844 67', 134259.33000000002),
 ('S-958 22', 75754.88),
 ('T2F 8M4', 74634.84999999999),
 ('V3F 2K1', 75238.92),
 ('WA1 1DP', 36019.04),
 ('WX1 6LT', 118008.26999999999),
 ('WX3 6FW', 88804.5)]